<main>
  <div class="module">
      <div class="module__left">
          <h1 class="module__left__title">Bienvenido a {{moduleTitle}}</h1>
          <p class="module__left__intro">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque est deserunt obcaecati corrupti animi ullam laudantium qui laborum quam debitis exercitationem iusto iste error tempora modi magni, quae voluptates at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique possimus aliquam laboriosam deleniti, ipsam non et quos ex soluta at consequatur corrupti a officia odit, laudantium, ullam eius corporis. Beatae.</p>
          <p class="module__left__intro">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque est deserunt obcaecati corrupti animi ullam laudantium qui laborum quam debitis exercitationem iusto iste error tempora modi magni, quae voluptates at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique possimus aliquam laboriosam deleniti, ipsam non et quos ex soluta at consequatur corrupti a officia odit, laudantium, ullam eius corporis. Beatae.</p>
          <hr>
          <h2 class="module__left__to-learn">Lo que aprenderás</h2>
          <ul>
            <li class="module__left__to-learn__items" *ngFor="let subject of subjects" > {{subject.title}} </li>
          </ul>
      </div>
      <div class="module__right">
          <img src="../../../assets/images/ongoing-investments.webp" alt="Image placeholder" class="module__right__img">
          <div class="module__right__info">
              <div class="module__right__info__tabs__container">
                <mat-tab-group>
                  <mat-tab *ngFor="let subject of subjects" label={{subject.title}}> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eligendi quam cupiditate possimus vitae inventore laboriosam nostrum? Veniam soluta iste eaque quas explicabo modi dignissimos deleniti perferendis. Vero, ullam maxime.</mat-tab>
                </mat-tab-group>
              </div>
<!--               <div class="module__right__info__progress">
                  <p> Completado / Total (%) </p>
                  <mat-progress-bar mode="determinate" value="{{getPercent(modules[1])}}"></mat-progress-bar>
              </div> -->
              <a routerLink="/modules/content"><button class="module__right__info__continue btn btn-primary">Continúa donde lo dejaste</button></a>
          </div>
      </div>
  </div>
</main>