<main>
  <div class="module">
      <div class="module__left">
          <h1 class="module__left__title">Gestion de Modulos</h1>
          <h2 class="module__left__subtitle"> {{!isNew?"Crear un nuevo modulo":("Actualizar el módulo " + moduleTitle)}} </h2>


          <p class="module__left__intro">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque est deserunt obcaecati corrupti animi ullam laudantium qui laborum quam debitis exercitationem iusto iste error tempora modi magni, quae voluptates at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique possimus aliquam laboriosam deleniti, ipsam non et quos ex soluta at consequatur corrupti a officia odit, laudantium, ullam eius corporis. Beatae.</p>
          <p class="module__left__intro">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque est deserunt obcaecati corrupti animi ullam laudantium qui laborum quam debitis exercitationem iusto iste error tempora modi magni, quae voluptates at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique possimus aliquam laboriosam deleniti, ipsam non et quos ex soluta at consequatur corrupti a officia odit, laudantium, ullam eius corporis. Beatae.</p>
          
          <div class="module__left__form-container">
            <form action="" class="module__left__form">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nuevo Título</span>
                <input type="text" class="form-control" [value]="isNew?'Inserte el título del nuevo modulo':moduleTitle" name="moduleTitle" aria-label="title" aria-describedby="basic-addon1" [(ngModel)]="moduleTitle" >
              </div>
              <div class="input-group module__left__input-container">
                <span class="input-group-text">Nueva Descripción</span>
                <textarea class="form-control" [value]="isNew?'Inserte la descripción del nuevo modulo':moduleDescription" aria-label="With textarea" [(ngModel)]="moduleDescription" name="moduleDescription"></textarea>
              </div>  
              <div class="admin-panel">
                <div class="btn-group admin-panel__option">
                  <a routerLink="/modules/admin/create" class="btn btn-primary active " aria-current="page" (click)="isNew?createModule():updateModule()">Guardar cambios</a>
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</main>