<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/moduleContent.css">
    <link href='https://css.gg/facebook.css' rel='stylesheet'>
    <link href='https://css.gg/twitter.css' rel='stylesheet'>
    <link href='https://css.gg/instagram.css' rel='stylesheet'>
    <link href='https://css.gg/user.css' rel='stylesheet'>
    <link href='https://css.gg/gift.css' rel='stylesheet'>
    <link href='https://css.gg/heart.css' rel='stylesheet'>
    <title>Module Content</title>
</head>
<body>

<header>

    <h1> Pro@ctivo </h1>
    <img src="./assets/Protección.png" alt="logo">
    <div class="left-header">
      <p> <strong>USUARIO </strong> </p> 
      <i class="gg-user"></i>
   </div>
   
</header>
<hr>
<main>
  <section class="header_2"> 
    <img src="./assets/ed.jpg" alt="education-pic" width="150px" height="100px">
    <div class="progress">
        <div class="progress-bar" style="width:33%;">
            <span class="progress-bar-text">33%</span>
        </div>
    </div>
    <i class="gg-gift"></i>
  </section>
    <section id="main">
		<div id="tabs">
			<span class="diana" id="uno"></span>
			<a href="#uno" class="tab-e">Home</a>
			<span class="diana" id="dos"></span>
			<a href="#dos" class="tab-e">Tema 1</a>
			<span class="diana" id="tres"></span>
			<a href="#tres" class="tab-e">Tema 2</a>
			
			<div id="pnl_1">
				<div>
					<p><img src="https://2.bp.blogspot.com/-Ycpx_Jl2zBc/UG5BMFNpZWI/AAAAAAAACGo/ikysNYg5_q0/s1600/k.jpg" alt="sólo una pic para ilustrar" />Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>

          <video src="./assets/MZ3XTG3JDDNMX2B5.mp4" width="500" height="300" autoplay controls class="video"></video> <br>

					<p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>
				</div>
			</div>

			<div id="pnl_2">
				<div>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>

					<p><img src="https://4.bp.blogspot.com/-Y_BPQRH_tDw/UHMgZdJlqII/AAAAAAAACVA/S73BrQnk-w4/s1600/avatar-anom.jpg" alt="sólo una pic para ilustrar" />Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
				</div>
			</div>

			<div id="pnl_3">
				<div>
					<p> No officiis lobortis eam. Soluta laboramus mei cu, sea modo dicant eu, cu ius eius aperiri. An pro dicam contentiones. Duo amet lorem officiis ex, an legimus nusquam atomorum per, per cu erat ornatus. Nibh oratio eam eu. An lobortis sapientem delicatissimi mea, ex dicunt tacimates quo, nec ad aeque adipisci efficiantur.</p>

					<p> Pri ad quando suscipit conclusionemque, ad vel dico ubique. Et sit utinam apeirian. Ea nemore delicatissimi eos, cum adhuc dignissim ad, putent ocurreret has ut. Eos amet duis solet id, est ne prima nostro virtute, ea pri etiam recteque disputando. Enim dolorum vivendum at vel, vis odio consul te.</p>
				</div>
			</div>
		</div>
	</section>
    
    


    <section>
<br>
<br>
        <div class="before-testimonials">
            <img src="./assets/flecha-izquierda.png" alt="left-arrow" width="50px" height="50px">
            <i class="gg-heart"></i>
            <img src="./assets/flecha-correcta.png" alt="right-arrow" width="50px" height="50px">
        </div>
        

        <h1> Testimonials </h1>

    </section>

    <div class="outerdiv">
        <div class="innerdiv">
          <!-- div1 -->
          <div class="div1 eachdiv">
            <div class="userdetails">
              <div class="imgbox">
                <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
              </div>
              <div class="detbox">
                <p class="name">Lucas Salazar</p>
                <p class="designation">Estudiante Nodo</p>
              </div>
            </div>
            <div class="review">
              <h4>Gracias a estos módulos, gané mi primer millón de pesos</h4>
            <p>“ Al principio era incrédulo, pero con la metodología de enseñanza, fue más fácil de lo que pensé ”</p>
            </div>
          </div>
          <!-- div2 -->
          <div class="div2 eachdiv">
            <div class="userdetails">
              <div class="imgbox">
                <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
              </div>
              <div class="detbox">
                <p class="name">Andrés Hernández</p>
                <p class="designation">Verified Graduate</p>
              </div>
            </div>
            <div class="review">
              <h4>The team was very supportive and kept me motivated</h4>
            <p>“ I started as a total newbie with virtually no coding skills. I now work as a mobile engineer for a big company. This was one of the best investments I’ve made in myself. ”</p>
            </div>
          </div>
          <!-- div3 -->
          <div class="div3 eachdiv">
            <div class="userdetails">
              <div class="imgbox">
                <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
              </div>
              <div class="detbox">
                <p class="name dark">Sindy Piedrahita</p>
                <p class="designation dark">Verified Graduate</p>
              </div>
            </div>
            <div class="review dark">
              <h4>Such a life-changing experience. Highly recommended!</h4>
              <p>“ Before joining the bootcamp, I’ve never written a line of code.  ”</p>
            </div>
          </div>
          
     
          </div>
        </div>
      </div>
      
</main>

<footer>
<div class="social-network">
    
    <i class="gg-twitter"></i>
    <i class="gg-instagram"></i>
    <i class="gg-facebook"></i>

</div>

   <p> &#169; 2022 Protección </p> 

</footer>
    
</body>
</html>