<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/partials.css">
    <link rel="stylesheet" href="../../public/css/register.css">
    <title>Register</title>
</head>
<body>
    <main>
        <div class="img-container">
            <img src="../../public/images/placeholder.png" alt="placeholder" class="main-img">

        </div>
        <div class="main-instructions-container">
            <h1 class="register">Registrate</h1> 
            <br>
            <p>Diligencia los siguientes campos para registrarte</p>
        </div>
        <br>
        
        <br>

        <form class="main-register-form" action="/register" method="GET">
        
            
            <div class="main-inputs-container">
                <div class="name-input">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Nombre" required>
                </div>
                <div class="lastName-input">
                    <label for="lastName"></label>
                    <input type="text" name="lastName" id="lastName" placeholder="Apellido" required>
        
                </div>
                <div class="email-input">    
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="e-mail" required>
                   
                </div>
                <div class="password-input">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    
                </div>
                <div class="repassword-input">
                    <label for="repassword"></label>
                    <input type="password" name="repassword" id="repassword" placeholder="Verificar contraseña" required>
                </div>
                
            </div>
            <!-- <div class="toggles-container">
                <br>
                <div class="t-and-c-container">
                    <input type="checkbox" name="t-and-c" id="t-and-c">
                    <label for="t-and-c">He leído y accepto los <a href="#">Términos & Condiciones</a></label>
                </div>
                <br>
                <div class="newsletter-container">
                    <input type="checkbox" name="newsletter" id="newsletter">
                    <label for="newsletter">Inscribirme al Newsletter de LUXER</label>
                </div>
                <br>
                <hr>
            </div> -->
            <br>
            
                <div class="field">
                    <button class = "send-button" type="submit">Registrate</button>
                </div>
            
        </form>
    </main>

    
    <script src="/js/register.js"></script>
</body>
<footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>   
</footer>
</html>