header {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  height: 40px;
 
  

}

header,h1 {
  color: rgb(5, 15, 155);
  font-size: 25px;
}






.left-header {
  background-color: #eafd3f;
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 15px;
  height: 20px;

  
}

.gg-user {
  color: rgb(2, 10, 131);
}

.header_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



footer {
    display: flex;
    justify-content: space-between;
}

.social-network {
    display: flex;
}

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
  }
  
  .video {
    display: block;
    margin: auto;
  }

  
  #main{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 0px;
    overflow: hidden;
  }
  
 
  
  #tabs{
    position: relative;
  }
  
  span.diana {
    position: fixed;
    display: none;
    }
  
  .diana + a {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    margin-bottom: -1px;
    border-radius: 8px 8px 0 0;
    margin-right: 10px;
    text-decoration:none;
  }
  
  .diana:target + a {
    background-color: #fff;
    border-bottom-color: #fff; 
  }
  
  #pnl_1, #pnl_2, #pnl_3, #pnl_4, #pnl_5 {
    position: absolute;
    top: 31px;
    left: 0;
    border: none;
    clear: both;
    overflow: hidden;
  }
  
    #pnl_1 > div, #pnl_2 > div, #pnl_3 > div, #pnl_4 > div, #pnl_5 > div{
      opacity: 0;
      transition: all 0.1s ease;
      padding: 30px;
    }
  
  #uno:target ~ #pnl_1, #dos:target ~ #pnl_2, #tres:target ~ #pnl_3, #cuatro:target ~ #pnl_4, #cinco:target ~ #pnl_5 { 
    position: static;
    border: 1px solid #ddd;
  }
  
  #uno:target ~ #pnl_1 > div, #dos:target ~ #pnl_2 > div, #tres:target ~ #pnl_3 > div, #cuatro:target ~ #pnl_4 > div, #cinco:target ~ #pnl_5 > div{
      opacity: 1;
      transition: all 1s ease;
    }

    .progress {
        height: 35px;
        width: 50%;
        border: 1px solid #2b2b2c;
        border-radius: 5px;
        background-color: rgb(214, 212, 212);
        margin-bottom: 15px;
        display: block;
    }

    .header_2 > p {
      margin-left: 50px;
    }
     
    .progress-bar {
        height: 100%;
        background: rgba(80, 80, 82, 0.212);
        display: flex;
        align-items: center;
        transition: width 0.25s;
        border-radius: 5px;
    }
     
    .progress-bar-text {
        margin-left: 10px;
        font-weight: bold;
        color: #0d0e0f;
    }

    @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
a:link,a:active,a:visited,a:hover{
	color:#3f51b5;
}

.outerdiv
{
	width: 100%;
    min-height: 5vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/2;
    color: black;
}

.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}

.before-testimonials {
  display: flex;
  justify-content: space-between;
}

