h1{text-align: center;
}
.img-container{text-align: center
}
.main-img{
  width: 50%;

}
p{text-align: center;}
.main-inputs-container {
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    text-align: center;  }
  .field {
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    text-align: center;
  }
  .name-imput{
    margin:auto;
    width:50%;
    border: 3px;
    padding: 10px;
  }


form {
  position : relative;
  width  : 100%;
  height : auto;
  margin : 0 auto;
  padding: 1em;
  box-sizing: border-box;
}
.main-inputs-container input {width: 100%;}
