<main>
  <section class="header_2"> 

    <div class="progress-container">
      <h1 class="title">MÓDULO I: Invertir aprendiendo, aprender invirtiendo</h1> 
      <!-- <mat-progress-bar mode="determinate" value="{{getPercent(modulesList[0])}}"></mat-progress-bar> -->
    </div>
  </section>
  <section id="main">
		<div id="tabs">
      <div class="module__right__info__tabs__container">
        <mat-tab-group>
          <mat-tab *ngFor="let content of contents" label={{content.title}}> 
            <div>
              <p> {{content.text}} </p>
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci, hic ea exercitationem voluptatibus aspernatur necessitatibus ullam tempora, dolores maxime amet praesentium? Temporibus cum dolor autem, ipsum odit minima quisquam. </p>
                <!-- <video src="../../../assets/images/MZ3XTG3JDDNMX2B5.mp4" width="500" height="300"  controls class="video"></video> <br> -->
              </div>
          </mat-tab>
        </mat-tab-group>
      </div>
		</div>
    
	</section>
  <section class="testimonials">
      <h1 class="testimonials__title"> Testimonios </h1>
  </section>
  <div class="outerdiv">
      <div class="innerdiv">
        <!-- div1 -->
        <div class="div1 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
            </div>
            <div class="detbox">
              <p class="name">Lucas Salazar</p>
              <p class="designation">Estudiante Nodo</p>
            </div>
          </div>
          <div class="review">
            <h4>Gracias a estos módulos, gané mi primer millón en rendimientos</h4>
          <p>“ Al principio era incrédulo, pero con la metodología de enseñanza, fue más fácil de lo que pensé ”</p>
          </div>
        </div>
        <!-- div2 -->
        <div class="div2 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
            </div>
            <div class="detbox">
              <p class="name">Andrés Hernández</p>
              <p class="designation">Estudiante Nodo</p>
            </div>
          </div>
          <div class="review">
            <h4>Es una plataforma que me genera confianza</h4>
          <p>“ Siempre he sido inseguro de invertir mi dinero en plataformas donde no entiendo qué pasa con mi capital. En protección y con ayuda de este contenido, siempre tengo claro que está pasando con el depósito que hago”</p>
          </div>
          
        </div>
        <!-- div3 -->
        <div class="div3 eachdiv">
          <div class="userdetails">
            <div class="imgbox">
              <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
            </div>
            <div class="detbox">
              <p class="name dark">Sindy Piedrahita</p>
              <p class="designation dark">Estudiante Nodo</p>
            </div>
          </div>
          <div class="review dark">
            <h4>Los videos son lo mejor!</h4>
            <p>“ Con los videos explicativos se me hizo súper fácil entender el funcionamiento de la plataforma. Con esta información le pude explicar a mi familia, y ahora hasta mi mamá invierte! ”</p>
          </div>
        </div>
        
      </div>
  </div>
</main>